In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, DateType, StringType, TimestampType, LongType
from pyspark.sql import functions as F

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/marcos/bin/spark-3.0.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/03/01 16:26:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
raw_path = 'data/raw/fhvhv/2021/02/'
pq_path = 'data/pq/fhvhv/2021/02/'
pq_path_temp = pq_path + 'tmp/'
file_name = 'fhvhv_tripdata_2021-02.csv'
url_base = 'https://nyc-tlc.s3.amazonaws.com/trip+data/'
url = url_base + file_name
raw_path_file = raw_path + file_name
pq_path_file = pq_path + file_name

## QUESTION 1

In [144]:
spark.version

'3.0.3'

## QUESTION 2

In [114]:
!mkdir -p raw_path

In [60]:
!wget {url} -O {raw_path_file}

--2022-02-28 21:40:15--  https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2021-02.csv
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.217.136.113
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.217.136.113|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 733822658 (700M) [text/csv]
Saving to: ‘data/raw/fhvhv/2021/02/fhvhv_tripdata_2021-02.csv’

data/raw/fhvhv/2021 100%[===================>] 699.83M  33.5MB/s    in 21s

2022-02-28 21:40:37 (32.6 MB/s) - ‘data/raw/fhvhv/2021/02/fhvhv_tripdata_2021-02.csv’ saved [733822658/733822658]

In [165]:
!head {raw_path_file}

In [166]:
schema = StructType([
    StructField("hvfhs_license_num", StringType(), True),
    StructField("dispatching_base_num", StringType(), True),
    StructField("pickup_datetime", TimestampType(), True),
    StructField("dropoff_datetime", TimestampType(), True),
    StructField("PULocationID", IntegerType(), True),
    StructField("DOLocationID", IntegerType(), True),
    StructField("SR_Flag", StringType(), True),
])

In [175]:
df = spark.read \
.options(header=True) \
.schema(schema) \
.csv(raw_path_file)

In [176]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02764|2021-02-01 00:10:40|2021-02-01 00:21:09|          35|          39|   null|
|           HV0003|              B02764|2021-02-01 00:27:23|2021-02-01 00:44:01|          39|          35|   null|
|           HV0005|              B02510|2021-02-01 00:28:38|2021-02-01 00:38:27|          39|          91|   null|
|           HV0005|              B02510|2021-02-01 00:43:37|2021-02-01 01:23:20|          91|         228|   null|
|           HV0003|              B02872|2021-02-01 00:08:42|2021-02-01 00:17:57|         126|         250|   null|
|           HV0003|              B02872|2021-02-01 00:26:02|2021-02-01 00:42:51|         208|         243|   null|
|           HV0003|              B02872|2021-02-01 00:45:50|2021-02-01 01:02:50|         243|         220|   null|
|           HV0003|              B02764|2021-02-01 00:06:42|2021-02-01 00:31:50|          49|          37|   null|
|           HV0003|              B02764|2021-02-01 00:34:34|2021-02-01 00:58:13|          37|          76|   null|
|           HV0005|              B02510|2021-02-01 00:03:43|2021-02-01 00:39:37|          80|         241|   null|
|           HV0005|              B02510|2021-02-01 00:55:36|2021-02-01 01:08:39|         174|          51|   null|
|           HV0005|              B02510|2021-02-01 00:06:13|2021-02-01 00:33:45|         235|         129|   null|
|           HV0005|              B02510|2021-02-01 00:42:24|2021-02-01 01:11:31|         129|         169|   null|
|           HV0003|              B02764|2021-02-01 00:07:05|2021-02-01 00:20:53|         226|          82|   null|
|           HV0003|              B02764|2021-02-01 00:28:56|2021-02-01 00:33:59|          82|         129|   null|
|           HV0003|              B02764|2021-02-01 00:44:53|2021-02-01 01:07:54|           7|          79|   null|
|           HV0003|              B02888|2021-02-01 00:17:55|2021-02-01 00:34:41|           4|         170|   null|
|           HV0003|              B02888|2021-02-01 00:38:14|2021-02-01 00:59:20|         164|          42|   null|
|           HV0004|              B02800|2021-02-01 00:08:04|2021-02-01 00:24:41|         237|           4|   null|
|           HV0004|              B02800|2021-02-01 00:30:44|2021-02-01 00:41:26|         107|          45|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [177]:
df.repartition(24).write.parquet(pq_path, mode="overwrite")

In [322]:
!ls -l {pq_path}

total 212936
-rw-r--r-- 1 marcos marcos       0 Mar  1 11:33 _SUCCESS
-rw-r--r-- 1 marcos marcos 9080331 Mar  1 11:33 part-00000-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9080702 Mar  1 11:33 part-00001-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9082175 Mar  1 11:33 part-00002-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9082899 Mar  1 11:33 part-00003-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9082402 Mar  1 11:33 part-00004-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9085799 Mar  1 11:33 part-00005-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9086884 Mar  1 11:33 part-00006-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9083085 Mar  1 11:33 part-00007-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9086649 Mar  1 11:33 part-00008-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9082765 Mar  1 11:33 part-00009-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9082717 Mar  1 11:33 part-00010-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9084380 Mar  1 11:33 part-00011-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9082358 Mar  1 11:33 part-00012-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9084167 Mar  1 11:33 part-00013-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9083700 Mar  1 11:33 part-00014-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9079965 Mar  1 11:33 part-00015-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9083294 Mar  1 11:33 part-00016-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9085434 Mar  1 11:33 part-00017-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9079801 Mar  1 11:33 part-00018-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9082749 Mar  1 11:33 part-00019-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9083602 Mar  1 11:33 part-00020-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9082958 Mar  1 11:33 part-00021-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9085145 Mar  1 11:33 part-00022-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
-rw-r--r-- 1 marcos marcos 9084529 Mar  1 11:33 part-00023-706541da-60e7-49cb-a186-af6240e3268a-c000.snappy.parquet
drwxr-xr-x 2 marcos marcos    4096 Mar  1 11:35 tmp

## QUESTION 3

In [178]:
df = spark.read.parquet(pq_path)

In [179]:
df = df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('trip_duration', df.dropoff_datetime.cast("long") - df.pickup_datetime.cast("long"))

In [180]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+-----------+-------------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|pickup_date|trip_duration|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+-----------+-------------+
|           HV0003|              B02887|2021-02-06 01:18:35|2021-02-06 01:40:34|         163|         235|   null| 2021-02-06|         1319|
|           HV0005|              B02510|2021-02-05 07:13:06|2021-02-05 07:31:56|         225|         181|   null| 2021-02-05|         1130|
|           HV0003|              B02869|2021-02-04 16:56:52|2021-02-04 17:21:36|         260|          95|   null| 2021-02-04|         1484|
|           HV0003|              B02871|2021-02-03 18:34:17|2021-02-03 18:57:12|         235|          60|   null| 2021-02-03|         1375|
|           HV0003|              B02869|2021-02-04 07:25:09|2021-02-04 07:30:34|          55|          55|   null| 2021-02-04|          325|
|           HV0003|              B02836|2021-02-04 23:15:27|2021-02-04 23:34:29|          74|          81|   null| 2021-02-04|         1142|
|           HV0003|              B02882|2021-02-05 07:45:49|2021-02-05 08:05:03|         239|         231|   null| 2021-02-05|         1154|
|           HV0003|              B02887|2021-02-03 17:33:59|2021-02-03 17:47:14|          95|         196|   null| 2021-02-03|          795|
|           HV0003|              B02877|2021-02-03 09:33:06|2021-02-03 09:45:59|         241|         265|   null| 2021-02-03|          773|
|           HV0003|              B02872|2021-02-02 12:58:46|2021-02-02 13:06:20|          90|         137|   null| 2021-02-02|          454|
|           HV0003|              B02764|2021-02-05 22:25:20|2021-02-05 22:28:27|           7|           7|   null| 2021-02-05|          187|
|           HV0003|              B02882|2021-02-04 19:57:44|2021-02-04 20:05:24|         231|         246|   null| 2021-02-04|          460|
|           HV0003|              B02764|2021-02-02 08:43:57|2021-02-02 08:53:46|         108|          29|   null| 2021-02-02|          589|
|           HV0003|              B02866|2021-02-04 05:51:50|2021-02-04 06:21:25|          11|         112|   null| 2021-02-04|         1775|
|           HV0003|              B02882|2021-02-05 16:13:02|2021-02-05 16:27:48|         229|         234|   null| 2021-02-05|          886|
|           HV0005|              B02510|2021-02-04 17:15:28|2021-02-04 17:24:46|          10|         218|   null| 2021-02-04|          558|
|           HV0003|              B02617|2021-02-04 09:59:58|2021-02-04 10:29:13|          49|         232|   null| 2021-02-04|         1755|
|           HV0005|              B02510|2021-02-05 23:34:27|2021-02-05 23:51:05|         125|          17|   null| 2021-02-05|          998|
|           HV0003|              B02875|2021-02-05 20:52:58|2021-02-05 21:19:59|          47|          68|   null| 2021-02-05|         1621|
|           HV0003|              B02875|2021-02-04 18:11:00|2021-02-04 18:37:24|          41|         223|   null| 2021-02-04|         1584|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+-----------+-------------+
only showing top 20 rows

In [181]:
df.write.parquet(pq_path_temp, mode="overwrite")

In [230]:
df = spark.read.parquet(pq_path_temp)

In [231]:
df.filter(df.pickup_date == '2021-02-15').count()

367170

## QUESTION 4

In [212]:
date_of_longest_trip = df.orderBy(df.trip_duration.desc()).take(1)[0].pickup_date
print(date_of_longest_trip)

2021-02-11

Note: orderBy(df._count.desc()) will not work. Error dataframe object has no attribute _count is raised. Use F.col instead
So aggregators are accessed through F.col

## QUESTION 5 (check number of stages)

In [249]:
df \
    .groupBy("dispatching_base_num") \
    .agg(F.count("dispatching_base_num") \
    .alias("_count")) \ 
    .orderBy(F.col("_count").desc()) \
    .show()

+--------------------+-------+
|dispatching_base_num| _count|
+--------------------+-------+
|              B02510|3233664|
|              B02764| 965568|
|              B02872| 882689|
|              B02875| 685390|
|              B02765| 559768|
|              B02869| 429720|
|              B02887| 322331|
|              B02871| 312364|
|              B02864| 311603|
|              B02866| 311089|
|              B02878| 305185|
|              B02682| 303255|
|              B02617| 274510|
|              B02883| 251617|
|              B02884| 244963|
|              B02882| 232173|
|              B02876| 215693|
|              B02879| 210137|
|              B02867| 200530|
|              B02877| 198938|
+--------------------+-------+
only showing top 20 rows

## QUESTION 6

In [3]:
df_zones = spark.read.parquet('zones/')

In [4]:
df = spark.read.parquet(pq_path_temp)

Notes: 
Need to use alias in the df name for df_zones in order to distinguish later on when using aggregations
Note: If I do not use alias and just df_zones.LocationID in both joins instead of the F.col with the alias, the Java explodes with memory problems.

Join needs a column object in ==, so use F.col

Need to use first "aggregator" to include that column in aggregations because after group by, only the columns that are used in the group by are kept, in addition to the aggregators

Note: withColumnRenamed needs the column name.

In [5]:
trip = df \
    .join(df_zones.alias("df_zones_pu"), df.PULocationID == F.col("df_zones_pu.LocationID")) \
    .join(df_zones.alias("df_zones_do"), df.DOLocationID == F.col("df_zones_do.LocationID")) \
    .groupBy('PULocationID','DOLocationID') \
    .agg(F.count('DOLocationID').alias('_count'), F.first("df_zones_pu.Zone"), F.first("df_zones_do.Zone")) \
    .withColumnRenamed('first(df_zones_pu.Zone)', 'pickup_zone') \
    .withColumnRenamed('first(df_zones_do.Zone)', 'dropoff_zone') \
    .orderBy(F.col('_count').desc()) \
    .first()

In [7]:
f'{trip["pickup_zone"]} / {trip["dropoff_zone"]}'

'East New York / East New York'

Note: Also I can join after grouping and aggregation, but use 'order by' after joins (otherwise the order is lost). This performs better

In [428]:
trip = df \
    .groupBy('PULocationID','DOLocationID') \
    .agg(F.count('DOLocationID').alias('_count')) \
    .join(df_zones.withColumnRenamed('Zone', 'pickup_zone').alias("df_zones_pu"), df.PULocationID == F.col("df_zones_pu.LocationID")) \
    .join(df_zones.withColumnRenamed('Zone', 'dropoff_zone').alias("df_zones_do"), df.DOLocationID == F.col("df_zones_do.LocationID")) \
    .orderBy(F.col('_count').desc()) \
    .first()

In [429]:
f'{trip["pickup_zone"]} / {trip["dropoff_zone"]}'

'East New York / East New York'